<%- model_class = Kind -%>
<div class="page-header">
  <%= link_to kinds_path, :class => 'btn btn-default' do %>
    <span class="glyphicon glyphicon-list-alt"></span>
    Back
  <% end %>

  <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
      kind_path(@kind), :method => 'delete', :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
      :class => 'btn btn-danger' %>

  <h1>Editing Type of Instrument</h1>
</div>

<%= render 'form' %>
