<%- model_class = Kind -%>

<div class="page-header">
  <%= link_to new_kind_path, :class => 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-plus"></span>
    New Type of Instrument
  <% end %>
  <h1>Listing Types of Instruments</h1>
</div>


<%= render "shared/values_datatable", :klass => model_class, :cols => [:name, :created_at] %>