<%- model_class = Kind -%>
<div class="page-header">
  <%= link_to kinds_path, :class => 'btn btn-default' do %>
    <span class="glyphicon glyphicon-list-alt"></span>
    Back
  <% end %>
  <h1>New Type of Instrument</h1>
</div>

<%= render 'form' %>
