<%- model_class = Laboratory -%>
<!--
<div class="row">
      <div class="col-sm-4">
        <h3>Wherever you are</h3>
        <p>With a high end computer or a smartphone, you can access your tests and Laboratory data anywhere. All content will be adapted the be visualized on your device of choice.</p>
      </div>
      <div class="col-sm-4">
        <h3>The whole process</h3>
        <p>From the records of the instruments, through mathematical modeling to the final report, will be offered flexible tools that will help you achieve automation to procedures that used to be over complicated.</p>
      </div>
      <div class="col-sm-4">
        <h3>Ready to use Procedures</h3>
        <p>With Measbox you can access pre-built procedures and others created by the community. Perfect to exchange knowledge in a reproducible manner.</p>
      </div>
</div>
-->

<div class="page-header">
  <p class="lead">Community-driven metrological information source.</p>

  <p class="lead">Features:</p>
  <ul>
    <li class="fa fa-check">Estimation of Uncertanty of Measurements, in accordance with iso GUM</li><br>
    <li class="fa fa-check">Ready to use procedures and instruments templates</li><br>
    <li class="fa fa-check">PDF Certificate generation</li><br>
    <li class="fa fa-check">Control charts and calibration error visualization</li><br>
    <li class="fa fa-check">Users privileges control</li><br>
    <li class="fa fa-check">Web based with clean and uncomplicated design</li><br>
    <li class="fa fa-check">Free</li><br>
  </ul>

  <p class="lead">Working in progress:</p>
  <ul>
    <li class="fa fa-check">Bug fixes</li><br>
    <li class="fa fa-check">Instrument control and automation</li><br>
    <li class="fa fa-check">Assets management and information history</li><br>
    <li class="fa fa-check">Software documentation and tutorials</li><br>
  </ul>

  <p class="lead">Future: ...it's still open!</p>
  <p class="lead">Measbox is still very young, and there is plenty of opportunities for improvements and new features. Give-me your feedback! Contact-me:
  </p> 

  <a target="_blank" href="https://br.linkedin.com/pub/artur-augusto-martins/24/658/1b0">
  <img src="https://static.licdn.com/scds/common/u/img/webpromo/btn_myprofile_160x33.png" width="160" height="33" border="0" alt="View Artur Augusto Martins's profile on LinkedIn">
  </a>
  <br><br>
  <p><a target="_blank" href="https://www.youtube.com/watch?v=wx0R1OfwH4s"><i class="fa fa-youtube-play"></i> Watch the introductory video (6 min no audio required) of a digital multimeter calibration <i class="fa fa-external-link"></i></a></p>
  <!--
  <center>
    <div class="embed-responsive embed-responsive-16by9">
      <iframe class="embed-responsive-item" width="854" height="480" src="https://www.youtube.com/embed/wx0R1OfwH4s" frameborder="0" allowfullscreen></iframe>
    </div>
  </center>
  -->
  <p>Acess the <a target="_blank" href="https://www.youtube.com/user/arturaugusto/videos">youtube channel</a> for further videos and tutorials.</p>
  <br>
  
  <p class="lead"><%=t '.title', :default => [:'helpers.titles.create', 'Register your %{model}:'], :model => model_class.model_name.human.titleize %></p >
</div>
<%= render :partial => 'form' %>