<%- model_class = Laboratory -%>
<!--
<div class="row">
      <div class="col-sm-4">
        <h3>Wherever you are</h3>
        <p>With a high end computer or a smartphone, you can access your tests and Laboratory data anywhere. All content will be adapted the be visualized on your device of choice.</p>
      </div>
      <div class="col-sm-4">
        <h3>The whole process</h3>
        <p>From the records of the instruments, through mathematical modeling to the final report, will be offered flexible tools that will help you achieve automation to procedures that used to be over complicated.</p>
      </div>
      <div class="col-sm-4">
        <h3>Ready to use Procedures</h3>
        <p>With Measbox you can access pre-built procedures and others created by the community. Perfect to exchange knowledge in a reproducible manner.</p>
      </div>
</div>
-->

<div class="page-header">
  <p class="lead">Measbox is a metrology community-driven web based information source.</p>
  <p class="lead">Proud to present this beta test release!</p>
  Check the <a target="_blank" href="https://www.youtube.com/user/arturaugusto/videos">youtube channel</a> if you wish to learn more from screencasts.<br><br>
  <p class="lead"><%=t '.title', :default => [:'helpers.titles.create', 'Register your %{model}:'], :model => model_class.model_name.human.titleize %></p >
</div>
<%= render :partial => 'form' %>