<%- model_class = Laboratory -%>

<div class="jumbotron">
  <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
  <h2><%= @laboratory.name %> created successfully!</h2>
  <p>Now, click on the folowing link to access your enviroment.</p>
  <%= @laboratory.name %>: <%= link_to(@lab_href,@lab_href) %>

</div>
  <%#= link_to t('.back', :default => t("helpers.links.back")),
                    laboratorys_path, :class => 'btn btn-default'  %>

