<%#= @locals.nil? ? "" : hidden_field_tag(@locals[:modifier], true) %>
<table id="snippets" class="datatable table table-striped table-hover table-bordered snippet_datatables_feature" data-source="<%= snippets_url(format: "json") %>">
  <thead>
    <tr>
      <th>Kind</th>
      <th>Updated at</th>
      <th>Tags</th>
    </tr>
  </thead>
  <tbody>
  </tbody>
</table>