<div class="page-header">
  <%= link_to(service_path(@spreadsheet.service), :class => 'btn btn-default', data: { no_turbolink: true }) do %>
    <span class="glyphicon glyphicon-list-alt"></span>
    Back
  <% end %>
  <h3><span id="spreadsheet_data_description"> </span></h3>
  <div id="spreadsheet_data_description_tags"></div>
</div>
<%= render :partial => 'form' %>
